### Record Matching from several sources

In [76]:
import os
import recordlinkage as rl
import pandas as pd
from recordlinkage.base import BaseIndex, BaseCompare
from recordlinkage.index import Full, Block, SortedNeighbourhood, Random
from recordlinkage.compare import Exact, String, Numeric, Geographic, Date

In [15]:
df_a = pd.read_csv('listings.csv')
df_b = pd.read_csv('listings.csv')

In [18]:
df_a.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,70820,City View - Sarah's double room.,360195,Sarah,NaN,Windmill Hill,51.439942,-2.591726,Private room,27,4,130,2018-09-28,2.10,5,44
1,117122,City Centre - Waterside Retreat,591555,Marcus,NaN,Clifton,51.450512,-2.610536,Private room,65,1,126,2018-10-28,1.40,1,360
2,146407,Sunny Central Artist Cottage (Dbl),708175,Orla,NaN,Southville,51.441308,-2.602706,Private room,38,2,57,2018-09-12,0.76,2,46
3,176306,The White Room - Central Bristol Art House Ga...,708175,Orla,NaN,Bedminster,51.441006,-2.601208,Private room,35,2,30,2018-10-31,0.41,2,57
4,220956,"Light, Modern, 1st Floor Apartment.",1145941,Stephen,NaN,Bedminster,51.438517,-2.601421,Entire home/apt,59,1,74,2018-11-04,0.85,1,253

In [21]:
df_a_clean=df_a.drop(['neighbourhood_group', 'latitude', 'longitude', 'number_of_reviews','last_review','reviews_per_month','calculated_host_listings_count','availability_365'], axis=1)
df_b_clean=df_b.drop(['neighbourhood_group', 'latitude', 'longitude', 'number_of_reviews','last_review','reviews_per_month','calculated_host_listings_count','availability_365'], axis=1)

In [20]:
df_a_clean

,id,name,host_id,host_name,neighbourhood,room_type,price,minimum_nights
0,70820,City View - Sarah's double room.,360195,Sarah,Windmill Hill,Private room,27,4
1,117122,City Centre - Waterside Retreat,591555,Marcus,Clifton,Private room,65,1
2,146407,Sunny Central Artist Cottage (Dbl),708175,Orla,Southville,Private room,38,2
3,176306,The White Room - Central Bristol Art House Ga...,708175,Orla,Bedminster,Private room,35,2
4,220956,"Light, Modern, 1st Floor Apartment.",1145941,Stephen,Bedminster,Entire home/apt,59,1
5,307634,Peaceful Safe Home & Clear Space 'The Lilac Room',1582810,Wendy,Easton,Private room,35,2
6,322906,HUGE Room CENTRAL location House,1156132,Sue And Toby,Ashley,Private room,65,2
7,341227,Magical Listed Georgian townhouse,237360,Samantha,Ashley,Entire home/apt,450,2
8,389942,Sunny retreat with ensuite,1950884,Sonia,Redland,Private room,50,1
9,389944,Spacious Cosy Room,1950884,Sonia,Redland,Private room,32,1
10,390781,Cosy large room near TV studios & Paintworks,1954565,Fi,Brislington West,Private room,27,1
11,391612,Central Cosy Double Room House1,1958566,Carmen,Ashley,Private room,32,2
12,391613,Single Central Bristol Room House 1,1958566,Carmen,Ashley,Private room,25,2
13,392215,"home from home, large double, light",1961385,Bea,Brislington East,Private room,17,10
14,392217,"home from home, lovely single room",1961385,Bea,Brislington East,Private room,16,10
15,407485,Bristol Luxury Garden Apartment,2029719,Ingrid,Ashley,Entire home/apt,98,2
16,421205,The dog lovers haven,2094659,Lis,Ashley,Private room,28,1
17,422956,Modern inner city 3 bed eco house,2103297,Lois,Redland,Entire home/apt,150,2
18,554813,1 Double Room in Bristol Centre with own Bathroom,2727252,Rich & Ray,Lawrence Hill,Private room,45,1
19,559177,Modern city centre loft style,2736590,Jamie,Central,Entire home/apt,90,6
20,664979,"Exclusive use of caravan, & parking",1949283,Catherine,Eastville,Entire home/apt,24,2
21,676106,Unique Dbl Loft space nr station,683638,Helen,Windmill Hill,Private room,30,1
22,688324,"The Green Room, Comfy Double in St Werburghs",3514043,Natasha,Ashley,Private room,28,2
23,753655,Edwardian house in central Bristol,3647954,Cath,Southville,Private room,50,1
24,758894,"Luxury Clifton Village, internet, parking permits",3996407,Joanna,Clifton,Entire home/apt,95,2
25,774471,Lovely Single B/Rm-Central Location,4086056,Lilian,Hotwells & Harbourside,Private room,35,1
26,787688,"Entire quirky flat, amazing views",683638,Helen,Windmill Hill,Entire home/apt,68,3
27,828102,Charming Room in Victorian Terrace,4341765,Patricia,St George West,Private room,26,2
28,832235,Luxury Double En Suite Bedroom,4356624,Claire,Southville,Private room,55,1
29,838106,Big double room ensuite bathroom,4379169,Sarah,Redland,Private room,55,2
...,...,...,...,...,...,...,...,...
2345,29926239,Cosy Room in a Friendly House,49188646,Damian & Irisa,Filwood,Private room,19,1
2346,29933537,"Frenchay House - Semi rural, Nr Bristol",225059329,Chris,Frome Vale,Entire home/apt,63,2
2347,29941495,Light Filled Single Room Garden View Vintage S...,26745936,Max,Avonmouth & Lawrence Weston,Private room,23,1
2348,29960218,The Friendly Camper,71910663,Camilla,Henbury & Brentry,Entire home/apt,68,1
2349,29977580,"Bright, airy and spacious single room in Bristol",6720685,Kate,St George Troopers Hill,Private room,21,2
2350,29979941,Chandos House,225389090,James,Cotham,Entire home/apt,380,1
2351,29980982,Cosy Victorian home 10 min bus Bristol city ce...,35116208,Helen,Lawrence Hill,Private room,30,1
2352,29987230,"Central, light comfy 1 bed flat near Harbourside",13933784,Philippa,Southville,Entire home/apt,73,5
2353,30011725,Ground Floor Apt for 4 w/bay window & free par...,188854604,BNBbuddy,Horfield,Entire home/apt,59,2
2354,30016719,4 bedroom family home,63779125,Helen,Westbury-on-Trym & Henleaze,Entire home/apt,200,5
2355,30028735,Bristol City Centre ‘Character’ Apartment,37130975,Jon,Central,Entire home/apt,100,2
2356,30033054,"Auburn House – Redland, Bristol",16630323,Matt,Clifton Down,Entire home/apt,350,2
2357,30038201,Semi Rural - En-suite Bedroom - Frenchay,225059329,Chris,Frome Vale,Private room,35,2
2358,30040039,Victorian townhouse in cosmopolitian Montpelier,219288156,Jaki & Tony,Ashley,Private room,38,2
2359,30041271,"Bristol South single room, close to airport& T...",20986767,Chris,Bishopsworth,Private room,22,1
2360,30042065,"Bristol Sth, Double Room, close to Airport.",20986767,Chris,Bishopsworth,Private room,35,1
2361,30059614,Charming Studio Flat in Clifton Bristol 4 PAX Max,219320851,Airbnb Bristol,Hotwells & Harbourside,Entire home/apt,67,1
2362,30060270,Lovely Accommodation in Clifton Bristol 11 Pax...,219320851,Airbnb Bristol,Central,Entire home/apt,159,1
2363,30063807,Fishponds Lodge,32862540,Patrycja,Eastville,Entire home/apt,900,2
2364,30080279,Chandos House room 2,225389090,James,Cotham,Private room,60,1
2365,30080303,Charming 1 Bed House Close to City Centre,225781847,Tom,Windmill Hill,Entire home/apt,60,2
2366,30081029,Chandos House room 3,225389090,James,Cotham,Private room,60,1
2367,30081836,Single Room,70340192,Fay Rosamond,Frome Vale,Entire home/apt,30,3
2368,30082333,Chandos House room 4,225389090,James,Cotham,Private room,60,1
2369,30082363,R2 large room with comfy beds,32862540,Patrycja,Eastville,Private room,53,1
2370,30082974,Chandos House room 5,225389090,James,Cotham,Private room,60,1
2371,30083433,Chandos House room 6,225389090,James,Cotham,Private room,40,1
2372,30083976,Chandos House room 7,225389090,James,Cotham,Private room,40,1
2373,30097167,Lawford Apartments,226145538,Nie,Lawrence Hill,Entire home/apt,97,1
2374,30099927,Small and cosy double room in Totterdown,7773760,Dee,Windmill Hill,Private room,25,1

In [27]:
df_a_clean.shape

(2375, 8)

In [22]:
df_a_clean.head()

,id,name,host_id,host_name,neighbourhood,room_type,price,minimum_nights
0,70820,City View - Sarah's double room.,360195,Sarah,Windmill Hill,Private room,27,4
1,117122,City Centre - Waterside Retreat,591555,Marcus,Clifton,Private room,65,1
2,146407,Sunny Central Artist Cottage (Dbl),708175,Orla,Southville,Private room,38,2
3,176306,The White Room - Central Bristol Art House Ga...,708175,Orla,Bedminster,Private room,35,2
4,220956,"Light, Modern, 1st Floor Apartment.",1145941,Stephen,Bedminster,Entire home/apt,59,1

In [62]:
df_a_clean.dtypes

id                 int64
name              object
host_id            int64
host_name         object
neighbourhood     object
room_type         object
price              int64
minimum_nights     int64
dtype: object

In [16]:
indexer = rl.Index()

In [23]:
indexer.block('id')
candidate_links = indexer.index(df_a_clean, df_b_clean)

In [61]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', threshold=0.85)
compare.exact('host_id', 'host_id')
compare.string('host_name', 'host_name')
compare.string('neighbourhood', 'neighbourhood', method='damerau_levenshtein', threshold=0.7)
compare.string('room_type', 'room_type', method='damerau_levenshtein', threshold=0.7)
compare.exact('price', 'price')
compare.exact('minimum_nights', 'minimum_nights')

In [25]:
compare_vectors = compare.compute(candidate_links, df_a_clean, df_b_clean)

In [ ]:
compare_vectors

In [29]:
ecm = rl.BernoulliEMClassifier()
ecm.fit_predict(compare_vectors)

AttributeError: module 'recordlinkage' has no attribute 'BernoulliEMClassifier'

In [38]:
from recordlinkage.datasets import load_febrl1, load_febrl2, load_febrl3, load_febrl4

In [45]:
df1=load_febrl1()
df2=load_febrl2()
df3=load_febrl3()
df4=load_febrl4()

In [32]:
df1.head()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-223-org,NaN,waller,6,tullaroop street,willaroo,st james,4011,wa,19081209,6988048
rec-122-org,lachlan,berry,69,giblin street,killarney,bittern,4814,qld,19990219,7364009
rec-373-org,deakin,sondergeld,48,goldfinch circuit,kooltuo,canterbury,2776,vic,19600210,2635962
rec-10-dup-0,kayla,harrington,NaN,maltby circuit,coaling,coolaroo,3465,nsw,19150612,9004242
rec-227-org,luke,purdon,23,ramsay place,mirani,garbutt,2260,vic,19831024,8099933

In [34]:
df2.head()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-2778-org,sarah,bruhn,44,forbes street,wintersloe,kellerberrin,4510,vic,19300213,7535316
rec-712-dup-0,jacob,lanyon,5,milne cove,wellwod,beaconsfield upper,2602,vic,19080712,9497788
rec-1321-org,brinley,efthimiou,35,sturdee crescent,tremearne,scarborough,5211,qld,19940319,6814956
rec-3004-org,aleisha,hobson,54,oliver street,inglewood,toowoomba,3175,qld,19290427,5967384
rec-1384-org,ethan,gazzola,49,sheaffe street,bimby vale,port pirie,3088,sa,19631225,3832742

In [ ]:
df2.shape

In [40]:
df3

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-1496-org,mitchell,green,7,wallaby place,delmar,cleveland,2119,sa,19560409,1804974
rec-552-dup-3,harley,mccarthy,177,pridhamstreet,milton,marsden,3165,nsw,19080419,6089216
rec-988-dup-1,madeline,mason,54,hoseason street,lakefront retrmnt vlge,granville,4881,nsw,19081128,2185997
rec-1716-dup-1,isabelle,NaN,23,gundulu place,currin ga,utakarra,2193,wa,19921119,4314184
rec-1213-org,taylor,hathaway,7,yuranigh court,brentwood vlge,NaN,4220,nsw,19991207,9144092
rec-193-org,toby,webb,6,kent street,kersey' south,towradgi,3107,nsw,19940503,1232838
rec-264-dup-0,harry,stubs,NaN,mountain creek road,NaN,eaton,7310,vic,19721113,8317467
rec-1695-dup-3,lydia,mccattmhy,32,mckillop ecircuit,telemon orchards,corio,4670,nsw,19751220,1835068
rec-875-dup-0,hollie,lillie-hinrichs,27,hemmings crescent,kilvintonvillage,banyo,4030,NaN,19251130,4920253
rec-1778-dup-1,dylan,zilm,17,blameycrescent,condinup,wattle glen,4211,vic,19671229,4892623
rec-1696-dup-1,NaN,donaldson,14,manity court,pacific terraces,charmhaven,3101,vic,19940825,9817986
rec-382-dup-0,isabella,vincent,16,wilshiredstreet,erinsavle,rose ay,6207,vic,19760517,8693348
rec-442-dup-0,connor,bishop,27,jarreah,mackinnon street,aspley,6052,NaN,19200417,8871067
rec-1671-dup-0,connor,shepherd,39,burnage place,rowethorpe,winstonhills,3183,nsw,19320907,5731308
rec-1816-dup-1,natalia,gredn,358,macrossan crescent,newman medicajl centre,yagoona,2535,qld,19910111,3131587
rec-459-dup-4,georgia,pettigrove,5,sinclair street,pinds,prairei,2478,nsw,19231019,9695933
rec-1881-dup-1,wilson,pitno,11,bousteadcircuit,jewells medical centre,granville,3161,qld,19971229,8930019
rec-729-org,andrew,klander,20,newman morris circuit,the willows,homebush,2285,vic,19761017,5392569
rec-575-dup-1,tahni,skeen,11,macfarland crescent,NaN,ryde,3220,NaN,19231110,4111794
rec-1688-org,kasey,millar,NaN,burdekin avenue,crown allot,woollahra,4217,qld,19930714,7442486
rec-292-dup-0,keziah,parr,20,clift crecent,bro okvale,murphys rceek,2761,nsw,19550103,3697304
rec-834-dup-0,braecon,schuetz,122,howarth place,villa 19,alice springs,2028,vic,19440909,5276446
rec-1943-dup-0,nemesia,grifefn,10,derrington c rescent,hd curramulka,beechboro,2262,nsw,19870509,9760949
rec-1611-dup-0,NaN,white,21,boobialla street,sheep s tation,carlingford,2830,qld,19241214,2042443
rec-1706-dup-2,quilliam,ashleigh,57,bedford s treet,rosall,surrey hills,6525,nsw,19460730,6408579
rec-462-org,jacqueline,daykin,21,mackie crescent,logan central plaza,pottsville beach,2213,qld,19510605,1615186
rec-1626-org,amelia,benger,51,macalister crescent,NaN,sippy downs,4110,nsw,19420909,8671640
rec-408-dup-2,rily,gloster,24,farrerplace,NaN,frankston,3178,nsw,19590124,2526809
rec-1224-org,lily,thorpe,313,rivett place,thurlgona,mount gravatt,6104,wa,19310318,9216585
rec-1561-dup-2,lary,slape,11,lamington street,rosehe ll,albany creek,6020,wa,19010927,2204911
...,...,...,...,...,...,...,...,...,...,...
rec-1022-dup-2,jackson,eglinton,840,fowles street,moun tvjiew,burleigh heads,2830,ss,NaN,2932837
rec-1906-dup-0,harrison,green,19,NaN,cotswold park,lake bathurst,3194,vic,19981225,4706388
rec-210-dup-0,lachlan,tebbutt,24,jim pike cavenue,bendarra,lemon tree passage,3233,nsw,19680108,5276246
rec-579-org,belinda,blackwell,89,willcock place,sec 597,nedlands,2145,sa,19610102,4046672
rec-1605-dup-1,maxin,mason,15,parkhill street,tintagel,kingston,2800,vic,19040813,4116673
rec-380-dup-1,NaN,bendkv,42,tallara parkway,yarrabin,queenscliff,2148,vic,19100310,5850163
rec-1528-org,anton,miles,45,de little circuit,hamilton park,cooroy,4220,vic,19100212,9909697
rec-1766-org,joel,tyner,25,corringle close,little shalford,yoogali,3018,wa,19831216,7644003
rec-1383-dup-0,dixon,olivia,80,twamley crescent,kingston tower,bundaberg north,2170,tas,19381114,7563867
rec-757-dup-0,hugh,fenwick,19,biddell place,kolora,carlingford,4744,nsw,19970623,7482555
rec-1458-org,lexie,scaturchio,2,marchant circuit,catumbel lodge,hoppers crossing,3106,qld,19460521,5088476
rec-176-dup-2,yasmin,quilliam,NaN,mccullochy street,bracengrae,hurstbridge,5107,sa,19991207,5083417
rec-1071-dup-4,michael,tylkowski,276,ashburton circuit,the mar ek place,st peters,2570,nsq,19290421,9384379
rec-1435-dup-0,jarod,netherton,8,alroy cifrcuit,berkeley village,warnbro,2615,qld,19180213,7763016
rec-1348-dup-2,magnus,mazzone,26,ingham place,NaN,glengowrie,2285,nt,19650426,3684075
rec-265-org,christian,highfield,59,moruya circuit,kyalla,belmont,4740,sa,19791112,3938235
rec-870-org,benjamin,lock,37,hackett garden,plantation caravn park,port lincoln,2570,nsw,19831227,5021855
rec-289-org,ainsley,blake,60,endeavour street,sheep station,redhead,7015,qld,19860920,1261880
rec-1477-org,harry,bishop,12,tobin place,berkeley village,pearl beach,2565,vic,19091028,2328487
rec-1766-dup-1,william,tyner,25,corringle close,little shaclford,yoogali,3018,wa,19831216,7644003
rec-1378-org,imogen,filipov,82,freda bennett circuit,willandra,mount colah,3162,nsw,19780527,8125445
rec-166-dup-1,maddison,giordano,34,martley circuit,NaN,ringwood,3492,qld,19621211,7118072
rec-771-dup-0,ned,lodgec,32,karuah street,NaN,bundamba,2280,act,19510526,9020603
rec-882-org,NaN,white,20,parker street,moy,calliope,4514,sa,19430329,3459225
rec-502-org,sarah,cionci,7,maccallum circuit,chateau royal,fish creek,6026,sa,19970102,7637145
rec-937-org,jack,campbell,169,marr street,rhosewyn,oakleigh,3356,vic,19770109,1485686
rec-1200-dup-0,william,lazaroff,12,leah ylose,milwlood,forbes,7256,qld,NaN,8072193
rec-1756-org,destynii,bowerman,12,halford crescent,sutton,nollamara,2431,qld,19880821,6089424
rec-1444-org,gianni,dooley,38,ashburton circuit,brentwood vlge,ryde,6025,qld,19371212,5854405
rec-993-dup-0,jake,westbrook,231,booroondar a street,jodayne,salisbury east,2074,nsw,19001115,2330929

In [43]:
df1.isnull().sum()

given_name        44
surname           18
street_number     45
address_1         25
address_2        115
suburb            18
postcode           0
state             15
date_of_birth     41
soc_sec_id         0
dtype: int64

In [52]:
df1['given_name'].fillna('missing', inplace=True)
df1['surname'].fillna('missing', inplace=True)
df1['street_number'].fillna(0, inplace=True)
df1['address_1'].fillna('missing', inplace=True)
df1['address_2'].fillna('missing', inplace=True)
df1['suburb'].fillna('missing', inplace=True)
df1['postcode'].fillna(0, inplace=True)
df1['state'].fillna('missing', inplace=True)
df1['date_of_birth'].fillna(0, inplace=True)

In [53]:
df1.isnull().sum()

given_name       0
surname          0
street_number    0
address_1        0
address_2        0
suburb           0
postcode         0
state            0
date_of_birth    0
soc_sec_id       0
dtype: int64

In [54]:
df2.isnull().sum()

given_name       109
surname           64
street_number    223
address_1        109
address_2        569
suburb            50
postcode           0
state             48
date_of_birth    110
soc_sec_id         0
dtype: int64

In [55]:
df2['given_name'].fillna('missing', inplace=True)
df2['surname'].fillna('missing', inplace=True)
df2['street_number'].fillna(0, inplace=True)
df2['address_1'].fillna('missing', inplace=True)
df2['address_2'].fillna('missing', inplace=True)
df2['suburb'].fillna('missing', inplace=True)
df2['state'].fillna('missing', inplace=True)
df2['date_of_birth'].fillna(0, inplace=True)

In [56]:
df2.isnull().sum()

given_name       0
surname          0
street_number    0
address_1        0
address_2        0
suburb           0
postcode         0
state            0
date_of_birth    0
soc_sec_id       0
dtype: int64

In [57]:
indexer = rl.Index()

In [59]:
indexer.block('street_number')
candidate_links = indexer.index(df1, df2)

In [63]:
compare = recordlinkage.Compare()

compare.string('given_name', 'given_name', method='jarowinkler', threshold=0.85)
compare.string('surname', 'surname',  method='jarowinkler', threshold=0.85)
compare.exact('street_number', 'street_number')
compare.string('address_1', 'address_1', method='damerau_levenshtein', threshold=0.7)
compare.string('address_2', 'address_2', method='damerau_levenshtein', threshold=0.7)
compare.string('suburb', 'suburb', method='damerau_levenshtein', threshold=0.7)
compare.exact('postcode', 'postcode')
compare.string('state', 'state', method='damerau_levenshtein', threshold=0.7)
compare.exact('date_of_birth', 'date_of_birth')
compare.exact('soc_sec_id', 'soc_sec_id')

In [64]:
compare_vectors = compare.compute(candidate_links, df1, df2)

In [69]:
compare_vectors.describe().T

     count      mean       std  min  25%  50%  75%  max
0  71799.0  0.007047  0.083653  0.0  0.0  0.0  0.0  1.0
1  71799.0  0.004011  0.063207  0.0  0.0  0.0  0.0  1.0
2  71799.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
3  71799.0  0.005195  0.071890  0.0  0.0  0.0  0.0  1.0
4  71799.0  0.014972  0.121443  0.0  0.0  0.0  0.0  1.0
5  71799.0  0.001518  0.038934  0.0  0.0  0.0  0.0  1.0
6  71799.0  0.000989  0.031431  0.0  0.0  0.0  0.0  1.0
7  71799.0  0.220282  0.414439  0.0  0.0  0.0  0.0  1.0
8  71799.0  0.000891  0.029843  0.0  0.0  0.0  0.0  1.0
9  71799.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

In [71]:
compare_vectors.shape

(71799, 10)

In [89]:
compare_vectors.dtypes

0    float64
1    float64
2      int64
3    float64
4    float64
5    float64
6      int64
7    float64
8      int64
9      int64
dtype: object

In [99]:
tuples = [tuple(x) for x in compare_vectors.values]

In [81]:
compare_vectors_train=compare_vectors[0:14000]

In [83]:
compare_vectors_train.shape

(14000, 10)

In [82]:
compare_vectors_train_index=compare_vectors_train.index

In [84]:
compare_vectors_train_index.shape

(14000,)

In [ ]:
compare_vectors_train_index

In [105]:
compare_vector_matches_index = compare_vectors_train_index &  tuples

In [ ]:
svm = rl.SVMClassifier()
svm.fit(tuples, compare_vector_matches_index)

In [109]:
df1_1=load_febrl1()
df2_2=load_febrl2()
df3_3=load_febrl3()
df4_4=load_febrl4()

In [111]:
df1_1.isnull().sum()

given_name        44
surname           18
street_number     45
address_1         25
address_2        115
suburb            18
postcode           0
state             15
date_of_birth     41
soc_sec_id         0
dtype: int64

In [122]:
df1_1.shape

(1000, 10)

In [112]:
df1=df1_1.dropna()

In [116]:
df1.shape

(723, 10)

In [118]:
df2_2.isnull().sum()

given_name       109
surname           64
street_number    223
address_1        109
address_2        569
suburb            50
postcode           0
state             48
date_of_birth    110
soc_sec_id         0
dtype: int64

In [121]:
df2_2.shape

(5000, 10)

In [119]:
df2=df2_2.dropna()

In [120]:
df2.shape

(3844, 10)

In [123]:
df3_3.isnull().sum()

given_name       156
surname           79
street_number    245
address_1        154
address_2        693
suburb            85
postcode           0
state             85
date_of_birth    155
soc_sec_id         0
dtype: int64

In [124]:
df3_3.shape

(5000, 10)

In [125]:
df3=df3_3.dropna()

In [126]:
df3.shape

(3556, 10)

In [129]:
indexer.block('street_number')
candidate_links = indexer.index(df1, df2)

In [130]:
compare = recordlinkage.Compare()

compare.string('given_name', 'given_name', method='jarowinkler', threshold=0.85)
compare.string('surname', 'surname',  method='jarowinkler', threshold=0.85)
compare.exact('street_number', 'street_number')
compare.string('address_1', 'address_1', method='damerau_levenshtein', threshold=0.7)
compare.string('address_2', 'address_2', method='damerau_levenshtein', threshold=0.7)
compare.string('suburb', 'suburb', method='damerau_levenshtein', threshold=0.7)
compare.exact('postcode', 'postcode')
compare.string('state', 'state', method='damerau_levenshtein', threshold=0.7)
compare.exact('date_of_birth', 'date_of_birth')
compare.exact('soc_sec_id', 'soc_sec_id')

In [131]:
compare_vectors = compare.compute(candidate_links, df1, df2)

In [132]:
compare_vectors.describe().T

     count      mean       std  min  25%  50%  75%  max
0  36230.0  0.006956  0.083111  0.0  0.0  0.0  0.0  1.0
1  36230.0  0.003699  0.060704  0.0  0.0  0.0  0.0  1.0
2  36230.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
3  36230.0  0.005465  0.073725  0.0  0.0  0.0  0.0  1.0
4  36230.0  0.000607  0.024635  0.0  0.0  0.0  0.0  1.0
5  36230.0  0.000911  0.030167  0.0  0.0  0.0  0.0  1.0
6  36230.0  0.000911  0.030167  0.0  0.0  0.0  0.0  1.0
7  36230.0  0.229589  0.420574  0.0  0.0  0.0  0.0  1.0
8  36230.0  0.000138  0.011747  0.0  0.0  0.0  0.0  1.0
9  36230.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

In [133]:
compare_vectors.describe()

,0,1,2,3,4,5,6,7,8,9
count,36230.000000,36230.000000,36230.0,36230.000000,36230.000000,36230.000000,36230.000000,36230.000000,36230.000000,36230.0
mean,0.006956,0.003699,1.0,0.005465,0.000607,0.000911,0.000911,0.229589,0.000138,0.0
std,0.083111,0.060704,0.0,0.073725,0.024635,0.030167,0.030167,0.420574,0.011747,0.0
min,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
max,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [135]:
compare_vectors.mean()

0    0.006956
1    0.003699
2    1.000000
3    0.005465
4    0.000607
5    0.000911
6    0.000911
7    0.229589
8    0.000138
9    0.000000
dtype: float64

In [136]:
df3.head()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-1496-org,mitchell,green,7,wallaby place,delmar,cleveland,2119,sa,19560409,1804974
rec-552-dup-3,harley,mccarthy,177,pridhamstreet,milton,marsden,3165,nsw,19080419,6089216
rec-988-dup-1,madeline,mason,54,hoseason street,lakefront retrmnt vlge,granville,4881,nsw,19081128,2185997
rec-193-org,toby,webb,6,kent street,kersey' south,towradgi,3107,nsw,19940503,1232838
rec-1695-dup-3,lydia,mccattmhy,32,mckillop ecircuit,telemon orchards,corio,4670,nsw,19751220,1835068

In [137]:
df1.head()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-122-org,lachlan,berry,69,giblin street,killarney,bittern,4814,qld,19990219,7364009
rec-373-org,deakin,sondergeld,48,goldfinch circuit,kooltuo,canterbury,2776,vic,19600210,2635962
rec-227-org,luke,purdon,23,ramsay place,mirani,garbutt,2260,vic,19831024,8099933
rec-294-org,william,bishop,21,neworra place,apmnt 65,worongary,6225,qld,19490130,9773843
rec-81-dup-0,abbey,fit,13,kosciusko avenue,the wharf complex,yass,2594,nsw,19870510,7661096

In [138]:
frames=[df1,df2]

In [139]:
newdf=pd.concat(frames)

In [145]:
newdf.head()

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-122-org,lachlan,berry,69,giblin street,killarney,bittern,4814,qld,19990219,7364009
rec-373-org,deakin,sondergeld,48,goldfinch circuit,kooltuo,canterbury,2776,vic,19600210,2635962
rec-227-org,luke,purdon,23,ramsay place,mirani,garbutt,2260,vic,19831024,8099933
rec-294-org,william,bishop,21,neworra place,apmnt 65,worongary,6225,qld,19490130,9773843
rec-81-dup-0,abbey,fit,13,kosciusko avenue,the wharf complex,yass,2594,nsw,19870510,7661096

In [165]:
indexer = rl.Index()
indexer.add(SortedNeighbourhood())

In [185]:
indexer = rl.index.SortedNeighbourhood('street_number','soc_sec_id', window=3)

In [186]:
df_index=newdf.set_index('street_number','soc_sec_id')

In [188]:
df_index = newdf.set_index(newdf.groupby(level=0).cumcount(), append=True)

In [189]:
df_index.index.is_unique

True

In [206]:
df_index.loc[df_index['soc_sec_id'] == '7364009']

,,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,,
rec-122-org,0,lachlan,berry,69,giblin street,killarney,bittern,4814,qld,19990219,7364009
rec-122-dup-0,0,lachlan,berry,69,giblin street,killarney,bittern,4184,qld,19990219,7364009

In [208]:
len(newdf)

4567

In [209]:
len(df_index)

4567

In [210]:
newdf.loc[newdf['soc_sec_id'] == '7364009']

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-122-org,lachlan,berry,69,giblin street,killarney,bittern,4814,qld,19990219,7364009
rec-122-dup-0,lachlan,berry,69,giblin street,killarney,bittern,4184,qld,19990219,7364009

In [213]:
df1.loc[df1['soc_sec_id'] == '7364009']

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-122-org,lachlan,berry,69,giblin street,killarney,bittern,4814,qld,19990219,7364009
rec-122-dup-0,lachlan,berry,69,giblin street,killarney,bittern,4184,qld,19990219,7364009

In [214]:
df2.loc[df2['soc_sec_id'] == '7364009']

Empty DataFrame
Columns: [given_name, surname, street_number, address_1, address_2, suburb, postcode, state, date_of_birth, soc_sec_id]
Index: []

In [181]:
indexer = rl.Index()

In [215]:
candidate_links = indexer.index(df1, df_index)

In [157]:
newdf.reset_index()

,rec_id,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
0,rec-122-org,lachlan,berry,69,giblin street,killarney,bittern,4814,qld,19990219,7364009
1,rec-373-org,deakin,sondergeld,48,goldfinch circuit,kooltuo,canterbury,2776,vic,19600210,2635962
2,rec-227-org,luke,purdon,23,ramsay place,mirani,garbutt,2260,vic,19831024,8099933
3,rec-294-org,william,bishop,21,neworra place,apmnt 65,worongary,6225,qld,19490130,9773843
4,rec-81-dup-0,abbey,fit,13,kosciusko avenue,the wharf complex,yass,2594,nsw,19870510,7661096
5,rec-34-org,isabella,lodder,156,messenger street,tongbong sanctuary,bayswater,4870,vic,19650714,2790666
6,rec-478-org,anthony,beazley,12,birubi place,currandina,flemington,2477,qld,19730924,6558077
7,rec-225-org,alia,streich,74,maranoa street,rocky bend,rowville,6152,vic,19790418,1975340
8,rec-452-org,alissa,kilmartin,37,reveley crescent,crown allot,wolumla,6210,nsw,19041118,7994055
9,rec-67-org,jacob,lyden,25,haddon street,glenview,woodville north,2226,qld,19910424,6426415
10,rec-286-org,evangelia,shepherd,9,crichton crescent,mirilla,lutwyche,2794,qld,19900909,3877160
11,rec-251-dup-0,paige,lowe,3,chave street,keelee,gowwie,2906,qld,19140707,2534242
12,rec-335-org,alexa-rose,lowe,67,ballarat street,the willows,westwood,4011,nsw,19691123,2624157
13,rec-439-org,kirra,brock,93,clarnette place,backwoodlands,orbost,2528,vic,19231209,5107876
14,rec-251-org,paige,lowe,3,chave street,keelee,gowrie,2906,qld,19140707,5860195
15,rec-409-org,liam,mcphail,94,langdon avenue,jandarra,patterson lakes,3029,qld,19920711,2109237
16,rec-125-org,john,van't hof,5,morshead drive,ocean crt (cnr beach s street,maida vale,2745,vic,19360109,9574272
17,rec-70-org,chloe,reitler,14,daley crescent,halfway hill,ballina,6164,qld,19171028,7162356
18,rec-73-org,kyle,limbert,7,dandenong court,the pinnacle,springwood,3143,nsw,19080527,2479285
19,rec-284-dup-0,jacob,di chiera,61,bimbiang crescent,the manor garden,unanderra,4680,nsw,19610831,2176932
20,rec-186-org,dakota,morrison,33,longmore crescent,three acres,brookvale,2710,nsw,19151229,5031530
21,rec-58-org,spyke,schumann,78,clark close,pine tree,tannum sands,2326,nsw,19020422,6677685
22,rec-381-dup-0,anneliese,clarke,109,arawang,langdon avenue,pakenham,3114,nsw,19000404,9135773
23,rec-305-dup-0,amelia,ryan,35,sidaway street,jemalong retrmnt vlge,avalon,3184,nsw,19230301,1613259
24,rec-149-org,kydan,mccarthy,67,clemenger street,the points holsteins,fairlawn,6415,nsw,19720518,6527653
25,rec-140-dup-0,georgia,gryosler,8,foxall street,willaroo,lockwlod,3338,nsw,19321106,8000491
26,rec-364-org,bailey,campbell,136,porteous crescent,teasdale park,albany creek,3942,vic,19830721,8875552
27,rec-23-org,kelsey,halligan,3,dilboong place,rosetta village,kedron,6027,nsw,19900301,8576385
28,rec-335-dup-0,alexa-rose,lowe,67,ballara t street,the willows,westwood,4012,nsw,19691123,2624157
29,rec-403-org,gemaley,matthews,388,goessling place,evergreen,pennant hills,3194,nsw,19730829,4691516
...,...,...,...,...,...,...,...,...,...,...,...
4537,rec-3102-org,ebony,berman,77,gooreen street,lorikeet caravn park,swan hill,4560,nsw,19880215,8981845
4538,rec-1889-org,madeleine,berryman,1504,castlereagh crescent,the willows,beenleigh,2121,qld,19230705,8225696
4539,rec-864-org,zane,quilliam,14,crozier circuit,hayfield vlge,ngunnawal,6011,tas,19940830,9090375
4540,rec-2840-org,mya,bishop,80,cuscaden crescent,platina,taree,2217,wa,19470522,4981694
4541,rec-694-dup-1,zehrtner,danielle,55,howe crescent,apt 503,tatu ra,0295,vic,19321129,8152232
4542,rec-2734-org,christopher,gibb,16,moncrieff street,flt 17,christies beach,6603,nsw,19590905,1631372
4543,rec-908-org,chloe,mason,31,candlebark close,kilacloran,armidale,4116,sa,19520508,3091059
4544,rec-3650-org,samuel,kisch,2,couvreur street,loxley hse mdcl centre,homebush bay,6560,nsw,19140529,2877433
4545,rec-1323-org,jack,artis,91,tungun street,budgerie,stonyfell,3015,vic,19591204,8229749
4546,rec-1278-org,michael,moody,33,crisp circuit,rangeville,avoca beach,4305,qld,19480229,3518474
4547,rec-540-dup-0,anthony,ryan,5,guthridge drescent,worrodowns,chittaway bay,3810,qld,19211114,2217488
4548,rec-724-org,kaitlin,szklarz,44,bolali place,ferndale,west perth,2550,vic,19260202,2378871
4549,rec-3120-org,monique,kromwyk,22,tumbleton place,ellice hill este,highett,7301,nsw,19240310,5765135
4550,rec-881-org,brooklyn,shepherdson,26,drysdale circuit,melita,whitfield,4305,vic,19141009,9144376
4551,rec-1772-org,amber,greenhalgh,27,vansittart crescent,may cottage,coonabarabran,3818,nsw,19050724,2373799
4552,rec-3587-org,madelyn,robnik,31,tullaroop street,rose-lea,carrum,3128,vic,19110108,7695257
4553,rec-2636-org,annabel,eversen,83,southern cross drive,ainslie house,kingston,4215,vic,19110427,4393110
4554,rec-235-org,thomas,berry,2,grover crescent,anzac house (cnr archer s street,towradgi,2263,vic,19441006,8157050
4555,rec-2822-dup-0,molly,campbell,26,callaway cgeescent,southern cross,portmacquarie,3172,nsw,19880106,4549668
4556,rec-322-org,brooke,willes,4,ahern place,kinross,labrador,3862,nsw,19941227,1977740
4557,rec-1972-org,carly,grainger,10,tipping place,belmont bayview park,altona north,3031,vic,19260313,7860553
4558,rec-1313-org,zachary,bishop,21,gardiner street,mcleod south,cohuna,5133,nsw,19091214,1779856
4559,rec-2433-org,mia,schuster,254,burkitt street,crathie,south perth,4551,nsw,19310806,2198108
4560,rec-1609-org,madison,cowell,140,ainslie avenue,bowan downs,nambour,3087,vic,19810922,8773092
4561,rec-3812-org,georgia,dojcic,21,bainbridge close,berkeley vlge,north narrabeen,2280,qld,19670416,7737396
4562,rec-2284-org,sam,boyle,46,mcintyre street,bass view,albion park rail,5061,vic,19320901,3512831
4563,rec-1487-org,thomas,green,44,tuthill place,holmeleigh,bonny hills,4740,vic,19420210,9334580
4564,rec-3307-org,paige,lock,7,a'beckett street,camboon,carina heights,2290,nsw,19871002,5142242
4565,rec-227-org,antonio,collier,25,govett place,the rocks,broken hill,2304,qld,19400225,3973395
4566,rec-1143-org,harry,ryan,30,van raalte place,anana,preston west,2572,wa,19250425,6392122

In [242]:
compare = recordlinkage.Compare()

compare.string('given_name', 'given_name', method='jarowinkler', threshold=0.85, label='given_name')
compare.string('surname', 'surname',  method='jarowinkler', threshold=0.85, label='surname')
compare.exact('street_number', 'street_number', label='street_number')
compare.string('address_1', 'address_1', method='damerau_levenshtein', threshold=0.7, label='address_1')
compare.string('address_2', 'address_2', method='damerau_levenshtein', threshold=0.7, label='address_2')
compare.string('suburb', 'suburb', method='damerau_levenshtein', threshold=0.7, label='suburb')
compare.exact('postcode', 'postcode', label='postcode')
compare.string('state', 'state', method='damerau_levenshtein', threshold=0.7, label='state')
compare.exact('date_of_birth', 'date_of_birth', label='date_of_birth')
compare.exact('soc_sec_id', 'soc_sec_id', label='soc_sec_id')

In [244]:
compare_vectors = compare.compute(candidate_links, df1, df_index)

In [245]:
compare_vectors

                                   given_name  surname  street_number  \
rec_id
rec-122-org   (rec-2246-org, 0)           0.0      0.0              0
rec-122-dup-0 (rec-2246-org, 0)           0.0      0.0              0
rec-373-org   (rec-3703-org, 0)           0.0      0.0              0
              (rec-3703-dup-0, 0)         0.0      0.0              0
              (rec-3703-dup-1, 0)         0.0      0.0              0
              (rec-3703-dup-3, 0)         0.0      0.0              0
              (rec-3703-dup-2, 0)         0.0      0.0              0
rec-126-dup-0 (rec-3703-org, 0)           0.0      0.0              0
              (rec-3703-dup-0, 0)         0.0      0.0              0
              (rec-3703-dup-1, 0)         0.0      0.0              0
              (rec-3703-dup-3, 0)         0.0      0.0              0
              (rec-3703-dup-2, 0)         0.0      0.0              0
rec-477-org   (rec-3703-org, 0)           0.0      0.0              0
              (rec-3703-dup-0, 0)         0.0      0.0              0
              (rec-3703-dup-1, 0)         0.0      0.0              0
              (rec-3703-dup-3, 0)         0.0      0.0              0
              (rec-3703-dup-2, 0)         0.0      0.0              0
rec-126-org   (rec-3703-org, 0)           0.0      0.0              0
              (rec-3703-dup-0, 0)         0.0      0.0              0
              (rec-3703-dup-1, 0)         0.0      0.0              0
              (rec-3703-dup-3, 0)         0.0      0.0              0
              (rec-3703-dup-2, 0)         0.0      0.0              0
rec-34-org    (rec-143-dup-0, 0)          0.0      0.0              0
              (rec-143-org, 0)            0.0      0.0              0
rec-225-org   (rec-3636-org, 0)           0.0      0.0              0
rec-452-org   (rec-232-org, 1)            0.0      0.0              0
              (rec-232-dup-0, 1)          0.0      0.0              0
rec-69-org    (rec-232-org, 1)            0.0      0.0              0
              (rec-232-dup-0, 1)          0.0      0.0              0
rec-452-dup-0 (rec-232-org, 1)            0.0      0.0              0
...                                       ...      ...            ...
rec-310-org   (rec-2029-dup-2, 0)         0.0      0.0              0
rec-398-org   (rec-2029-dup-2, 0)         0.0      0.0              0
rec-310-dup-0 (rec-2029-dup-2, 0)         0.0      0.0              0
rec-175-org   (rec-95-org, 1)             0.0      0.0              0
rec-175-dup-0 (rec-95-org, 1)             0.0      0.0              0
rec-435-org   (rec-1561-org, 0)           0.0      0.0              0
rec-435-dup-0 (rec-1561-org, 0)           0.0      0.0              0
rec-237-dup-0 (rec-1033-org, 0)           0.0      0.0              0
rec-342-org   (rec-1033-org, 0)           0.0      0.0              0
rec-243-dup-0 (rec-1033-org, 0)           0.0      0.0              0
rec-237-org   (rec-1033-org, 0)           0.0      0.0              0
rec-112-org   (rec-3176-org, 0)           0.0      0.0              0
rec-281-dup-0 (rec-1652-org, 0)           0.0      0.0              0
rec-349-dup-0 (rec-1652-org, 0)           0.0      0.0              0
rec-2-dup-0   (rec-1652-org, 0)           0.0      0.0              0
rec-349-org   (rec-1652-org, 0)           0.0      0.0              0
rec-495-dup-0 (rec-367-org, 1)            0.0      0.0              0
rec-273-org   (rec-367-org, 1)            0.0      0.0              0
rec-327-dup-0 (rec-1117-org, 0)           0.0      0.0              0
rec-327-org   (rec-1117-org, 0)           0.0      0.0              0
rec-494-dup-0 (rec-341-org, 0)            0.0      0.0              0
rec-494-org   (rec-341-org, 0)            0.0      0.0              0
rec-48-org    (rec-3530-dup-2, 0)         0.0      0.0              0
              (rec-3530-dup-1, 0)         0.0      0.0              0
rec-48-dup-0  (rec-3530-dup-2, 0)         0.0      0.0              0
              (rec-3530-dup-1, 0)         0.0      0.0              0
rec-104-org   (rec-898-org, 0)            0.0      0.0              0
rec-222-org   (rec-200-org, 1)            0.0      0.0              0
rec-222-dup-0 (rec-200-org, 1)            0.0      0.0              0
rec-146-org   (rec-3832-dup-0, 0)         0.0      0.0              0

                                   address_1  address_2  suburb  postcode  \
rec_id
rec-122-org   (rec-2246-org, 0)          0.0        0.0     0.0         0
rec-122-dup-0 (rec-2246-org, 0)          0.0        0.0     0.0         0
rec-373-org   (rec-3703-org, 0)          0.0        0.0     0.0         0
              (rec-3703-dup-0, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-1, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-3, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-2, 0)        0.0        0.0     0.0         0
rec-126-dup-0 (rec-3703-org, 0)          0.0        0.0     0.0         0
              (rec-3703-dup-0, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-1, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-3, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-2, 0)        0.0        0.0     0.0         0
rec-477-org   (rec-3703-org, 0)          0.0        0.0     0.0         0
              (rec-3703-dup-0, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-1, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-3, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-2, 0)        0.0        0.0     0.0         0
rec-126-org   (rec-3703-org, 0)          0.0        0.0     0.0         0
              (rec-3703-dup-0, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-1, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-3, 0)        0.0        0.0     0.0         0
              (rec-3703-dup-2, 0)        0.0        0.0     0.0         0
rec-34-org    (rec-143-dup-0, 0)         0.0        0.0     0.0         0
              (rec-143-org, 0)           0.0        0.0     0.0         0
rec-225-org   (rec-3636-org, 0)          0.0        0.0     0.0         0
rec-452-org   (rec-232-org, 1)           0.0        0.0     0.0         0
              (rec-232-dup-0, 1)         0.0        0.0     0.0         0
rec-69-org    (rec-232-org, 1)           0.0        0.0     0.0         0
              (rec-232-dup-0, 1)         0.0        0.0     0.0         0
rec-452-dup-0 (rec-232-org, 1)           0.0        0.0     0.0         0
...                                      ...        ...     ...       ...
rec-310-org   (rec-2029-dup-2, 0)        0.0        0.0     0.0         0
rec-398-org   (rec-2029-dup-2, 0)        0.0        0.0     0.0         0
rec-310-dup-0 (rec-2029-dup-2, 0)        0.0        0.0     0.0         0
rec-175-org   (rec-95-org, 1)            0.0        0.0     0.0         0
rec-175-dup-0 (rec-95-org, 1)            0.0        0.0     0.0         0
rec-435-org   (rec-1561-org, 0)          0.0        0.0     0.0         0
rec-435-dup-0 (rec-1561-org, 0)          0.0        0.0     0.0         0
rec-237-dup-0 (rec-1033-org, 0)          0.0        0.0     0.0         0
rec-342-org   (rec-1033-org, 0)          0.0        0.0     0.0         0
rec-243-dup-0 (rec-1033-org, 0)          0.0        0.0     0.0         0
rec-237-org   (rec-1033-org, 0)          0.0        0.0     0.0         0
rec-112-org   (rec-3176-org, 0)          0.0        0.0     0.0         0
rec-281-dup-0 (rec-1652-org, 0)          0.0        0.0     0.0         0
rec-349-dup-0 (rec-1652-org, 0)          0.0        0.0     0.0         0
rec-2-dup-0   (rec-1652-org, 0)          0.0        0.0     0.0         0
rec-349-org   (rec-1652-org, 0)          0.0        0.0     0.0         0
rec-495-dup-0 (rec-367-org, 1)           0.0        0.0     0.0         0
rec-273-org   (rec-367-org, 1)           0.0        0.0     0.0         0
rec-327-dup-0 (rec-1117-org, 0)          0.0        0.0     0.0         0
rec-327-org   (rec-1117-org, 0)          0.0        0.0     0.0         0
rec-494-dup-0 (rec-341-org, 0)           0.0        0.0     0.0         0
rec-494-org   (rec-341-org, 0)           0.0        0.0     0.0         0
rec-48-org    (rec-3530-dup-2, 0)        0.0        0.0     0.0         0
              (rec-3530-dup-1, 0)        0.0        0.0     0.0         0
rec-48-dup-0  (rec-3530-dup-2, 0)        0.0        0.0     0.0         0
              (rec-3530-dup-1, 0)        0.0        0.0     0.0         0
rec-104-org   (rec-898-org, 0)           0.0        0.0     0.0         0
rec-222-org   (rec-200-org, 1)           0.0        0.0     0.0         0
rec-222-dup-0 (rec-200-org, 1)           0.0        0.0     0.0         0
rec-146-org   (rec-3832-dup-0, 0)        0.0        0.0     0.0         0

                                   state  date_of_birth  soc_sec_id
rec_id
rec-122-org   (rec-2246-org, 0)      1.0              0           0
rec-122-dup-0 (rec-2246-org, 0)      1.0              0           0
rec-373-org   (rec-3703-org, 0)      0.0              0           0
              (rec-3703-dup-0, 0)    0.0              0           0
              (rec-3703-dup-1, 0)    0.0              0           0
              (rec-3703-dup-3, 0)    0.0              0           0
              (rec-3703-dup-2, 0)    0.0              0           0
rec-126-dup-0 (rec-3703-org, 0)      0.0              0           0
              (rec-3703-dup-0, 0)    0.0              0           0
              (rec-3703-dup-1, 0)    0.0              0           0
              (rec-3703-dup-3, 0)    0.0              0           0
              (rec-3703-dup-2, 0)    0.0              0           0
rec-477-org   (rec-3703-org, 0)      0.0              0           0
              (rec-3703-dup-0, 0)    0.0              0           0
              (rec-3703-dup-1, 0)    0.0              0           0
              (rec-3703-dup-3, 0)    0.0              0           0
              (rec-3703-dup-2, 0)    0.0              0           0
rec-126-org   (rec-3703-org, 0)      0.0              0           0
              (rec-3703-dup-0, 0)    0.0              0           0
              (rec-3703-dup-1, 0)    0.0              0           0
              (rec-3703-dup-3, 0)    0.0              0           0
              (rec-3703-dup-2, 0)    0.0              0           0
rec-34-org    (rec-143-dup-0, 0)     0.0              0           0
              (rec-143-org, 0)       0.0              0           0
rec-225-org   (rec-3636-org, 0)      0.0              0           0
rec-452-org   (rec-232-org, 1)       0.0              0           0
              (rec-232-dup-0, 1)     0.0              0           0
rec-69-org    (rec-232-org, 1)       0.0              0           0
              (rec-232-dup-0, 1)     0.0              0           0
rec-452-dup-0 (rec-232-org, 1)       0.0              0           0
...                                  ...            ...         ...
rec-310-org   (rec-2029-dup-2, 0)    0.0              0           0
rec-398-org   (rec-2029-dup-2, 0)    0.0              0           0
rec-310-dup-0 (rec-2029-dup-2, 0)    0.0              0           0
rec-175-org   (rec-95-org, 1)        1.0              0           0
rec-175-dup-0 (rec-95-org, 1)        1.0              0           0
rec-435-org   (rec-1561-org, 0)      0.0              0           0
rec-435-dup-0 (rec-1561-org, 0)      0.0              0           0
rec-237-dup-0 (rec-1033-org, 0)      0.0              0           0
rec-342-org   (rec-1033-org, 0)      1.0              0           0
rec-243-dup-0 (rec-1033-org, 0)      0.0              0           0
rec-237-org   (rec-1033-org, 0)      0.0              0           0
rec-112-org   (rec-3176-org, 0)      0.0              0           0
rec-281-dup-0 (rec-1652-org, 0)      0.0              0           0
rec-349-dup-0 (rec-1652-org, 0)      0.0              0           0
rec-2-dup-0   (rec-1652-org, 0)      0.0              0           0
rec-349-org   (rec-1652-org, 0)      0.0              0           0
rec-495-dup-0 (rec-367-org, 1)       0.0              0           0
rec-273-org   (rec-367-org, 1)       1.0              0           0
rec-327-dup-0 (rec-1117-org, 0)      0.0              0           0
rec-327-org   (rec-1117-org, 0)      0.0              0           0
rec-494-dup-0 (rec-341-org, 0)       0.0              0           0
rec-494-org   (rec-341-org, 0)       0.0              0           0
rec-48-org    (rec-3530-dup-2, 0)    0.0              0           0
              (rec-3530-dup-1, 0)    0.0              0           0
rec-48-dup-0  (rec-3530-dup-2, 0)    0.0              0           0
              (rec-3530-dup-1, 0)    0.0              0           0
rec-104-org   (rec-898-org, 0)       0.0              0           0
rec-222-org   (rec-200-org, 1)       1.0              0           0
rec-222-dup-0 (rec-200-org, 1)       1.0              0           0
rec-146-org   (rec-3832-dup-0, 0)    0.0              0           0

[956 rows x 10 columns]

In [246]:
#Sum the comparison results
compare_vectors.sum(axis=1).value_counts().sort_index(ascending=False)

2.0      8
1.0    224
0.0    724
dtype: int64

In [247]:
len(compare_vectors[compare_vectors.sum(axis=1) ==1])

224

In [239]:
newdf

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-122-org,lachlan,berry,69,giblin street,killarney,bittern,4814,qld,19990219,7364009
rec-373-org,deakin,sondergeld,48,goldfinch circuit,kooltuo,canterbury,2776,vic,19600210,2635962
rec-227-org,luke,purdon,23,ramsay place,mirani,garbutt,2260,vic,19831024,8099933
rec-294-org,william,bishop,21,neworra place,apmnt 65,worongary,6225,qld,19490130,9773843
rec-81-dup-0,abbey,fit,13,kosciusko avenue,the wharf complex,yass,2594,nsw,19870510,7661096
rec-34-org,isabella,lodder,156,messenger street,tongbong sanctuary,bayswater,4870,vic,19650714,2790666
rec-478-org,anthony,beazley,12,birubi place,currandina,flemington,2477,qld,19730924,6558077
rec-225-org,alia,streich,74,maranoa street,rocky bend,rowville,6152,vic,19790418,1975340
rec-452-org,alissa,kilmartin,37,reveley crescent,crown allot,wolumla,6210,nsw,19041118,7994055
rec-67-org,jacob,lyden,25,haddon street,glenview,woodville north,2226,qld,19910424,6426415
rec-286-org,evangelia,shepherd,9,crichton crescent,mirilla,lutwyche,2794,qld,19900909,3877160
rec-251-dup-0,paige,lowe,3,chave street,keelee,gowwie,2906,qld,19140707,2534242
rec-335-org,alexa-rose,lowe,67,ballarat street,the willows,westwood,4011,nsw,19691123,2624157
rec-439-org,kirra,brock,93,clarnette place,backwoodlands,orbost,2528,vic,19231209,5107876
rec-251-org,paige,lowe,3,chave street,keelee,gowrie,2906,qld,19140707,5860195
rec-409-org,liam,mcphail,94,langdon avenue,jandarra,patterson lakes,3029,qld,19920711,2109237
rec-125-org,john,van't hof,5,morshead drive,ocean crt (cnr beach s street,maida vale,2745,vic,19360109,9574272
rec-70-org,chloe,reitler,14,daley crescent,halfway hill,ballina,6164,qld,19171028,7162356
rec-73-org,kyle,limbert,7,dandenong court,the pinnacle,springwood,3143,nsw,19080527,2479285
rec-284-dup-0,jacob,di chiera,61,bimbiang crescent,the manor garden,unanderra,4680,nsw,19610831,2176932
rec-186-org,dakota,morrison,33,longmore crescent,three acres,brookvale,2710,nsw,19151229,5031530
rec-58-org,spyke,schumann,78,clark close,pine tree,tannum sands,2326,nsw,19020422,6677685
rec-381-dup-0,anneliese,clarke,109,arawang,langdon avenue,pakenham,3114,nsw,19000404,9135773
rec-305-dup-0,amelia,ryan,35,sidaway street,jemalong retrmnt vlge,avalon,3184,nsw,19230301,1613259
rec-149-org,kydan,mccarthy,67,clemenger street,the points holsteins,fairlawn,6415,nsw,19720518,6527653
rec-140-dup-0,georgia,gryosler,8,foxall street,willaroo,lockwlod,3338,nsw,19321106,8000491
rec-364-org,bailey,campbell,136,porteous crescent,teasdale park,albany creek,3942,vic,19830721,8875552
rec-23-org,kelsey,halligan,3,dilboong place,rosetta village,kedron,6027,nsw,19900301,8576385
rec-335-dup-0,alexa-rose,lowe,67,ballara t street,the willows,westwood,4012,nsw,19691123,2624157
rec-403-org,gemaley,matthews,388,goessling place,evergreen,pennant hills,3194,nsw,19730829,4691516
...,...,...,...,...,...,...,...,...,...,...
rec-3102-org,ebony,berman,77,gooreen street,lorikeet caravn park,swan hill,4560,nsw,19880215,8981845
rec-1889-org,madeleine,berryman,1504,castlereagh crescent,the willows,beenleigh,2121,qld,19230705,8225696
rec-864-org,zane,quilliam,14,crozier circuit,hayfield vlge,ngunnawal,6011,tas,19940830,9090375
rec-2840-org,mya,bishop,80,cuscaden crescent,platina,taree,2217,wa,19470522,4981694
rec-694-dup-1,zehrtner,danielle,55,howe crescent,apt 503,tatu ra,0295,vic,19321129,8152232
rec-2734-org,christopher,gibb,16,moncrieff street,flt 17,christies beach,6603,nsw,19590905,1631372
rec-908-org,chloe,mason,31,candlebark close,kilacloran,armidale,4116,sa,19520508,3091059
rec-3650-org,samuel,kisch,2,couvreur street,loxley hse mdcl centre,homebush bay,6560,nsw,19140529,2877433
rec-1323-org,jack,artis,91,tungun street,budgerie,stonyfell,3015,vic,19591204,8229749
rec-1278-org,michael,moody,33,crisp circuit,rangeville,avoca beach,4305,qld,19480229,3518474
rec-540-dup-0,anthony,ryan,5,guthridge drescent,worrodowns,chittaway bay,3810,qld,19211114,2217488
rec-724-org,kaitlin,szklarz,44,bolali place,ferndale,west perth,2550,vic,19260202,2378871
rec-3120-org,monique,kromwyk,22,tumbleton place,ellice hill este,highett,7301,nsw,19240310,5765135
rec-881-org,brooklyn,shepherdson,26,drysdale circuit,melita,whitfield,4305,vic,19141009,9144376
rec-1772-org,amber,greenhalgh,27,vansittart crescent,may cottage,coonabarabran,3818,nsw,19050724,2373799
rec-3587-org,madelyn,robnik,31,tullaroop street,rose-lea,carrum,3128,vic,19110108,7695257
rec-2636-org,annabel,eversen,83,southern cross drive,ainslie house,kingston,4215,vic,19110427,4393110
rec-235-org,thomas,berry,2,grover crescent,anzac house (cnr archer s street,towradgi,2263,vic,19441006,8157050
rec-2822-dup-0,molly,campbell,26,callaway cgeescent,southern cross,portmacquarie,3172,nsw,19880106,4549668
rec-322-org,brooke,willes,4,ahern place,kinross,labrador,3862,nsw,19941227,1977740
rec-1972-org,carly,grainger,10,tipping place,belmont bayview park,altona north,3031,vic,19260313,7860553
rec-1313-org,zachary,bishop,21,gardiner street,mcleod south,cohuna,5133,nsw,19091214,1779856
rec-2433-org,mia,schuster,254,burkitt street,crathie,south perth,4551,nsw,19310806,2198108
rec-1609-org,madison,cowell,140,ainslie avenue,bowan downs,nambour,3087,vic,19810922,8773092
rec-3812-org,georgia,dojcic,21,bainbridge close,berkeley vlge,north narrabeen,2280,qld,19670416,7737396
rec-2284-org,sam,boyle,46,mcintyre street,bass view,albion park rail,5061,vic,19320901,3512831
rec-1487-org,thomas,green,44,tuthill place,holmeleigh,bonny hills,4740,vic,19420210,9334580
rec-3307-org,paige,lock,7,a'beckett street,camboon,carina heights,2290,nsw,19871002,5142242
rec-227-org,antonio,collier,25,govett place,the rocks,broken hill,2304,qld,19400225,3973395
rec-1143-org,harry,ryan,30,van raalte place,anana,preston west,2572,wa,19250425,6392122